.editProduct-container{
    display: grid;
    grid-template-columns: 15% 85%;
}


.edit-delete{
    width: 320px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    background: #353535;
    color: white
}

.editProduct{
    padding-left: 10px;
}